<div class="container mt-5">
  <div class="accordion accordion-flush" id="accordionFlushExample">

    <div class="accordion-item" *ngFor="let item of faqItems; let i = index">

      <h2 class="accordion-header" [id]="'flush-heading' + i">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          [attr.data-bs-target]="'#flush-collapse' + i"
          aria-expanded="false"
          [attr.aria-controls]="'flush-collapse' + i">
          
          {{ item.title }}

        </button>
      </h2>

      <div
        [id]="'flush-collapse' + i"
        class="accordion-collapse collapse"
        [attr.aria-labelledby]="'flush-heading' + i"
        data-bs-parent="#accordionFlushExample">

        <div class="accordion-body">
          {{ item.content }}
        </div>

      </div>

    </div>

  </div>
</div>