<footer class="footer mt-5">
  <div class="container text-center">

    <h5>MobBuyLab</h5>

    <p>
      Explore the latest smartphones and laptops with ease.
    </p>

    <p>
      Developed using Angular, Bootstrap, TypeScript and REST APIs.
    </p>
    <p>
        <strong>📞 Phone</strong>+91 98765 43210
    </p>
    <p>
        <strong>📧 Email</strong>
        support@mobbuylab.com
    </p>
    <hr>

    <p class="mb-0">
      © 2026 MobBuyLab. All Rights Reserved.
    </p>

  </div>
</footer>